body {
    /* background-image: radial-gradient(circle, black, 20%, black, black, rgb(121, 120, 120), black, rgb(102, 102, 102), black, rgb(119, 119, 119), black, silver, black); */
    background-image: url('./assets/images/spacebg.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-areas: 
                        " header header header header "
                        " . main main . "
                        " score score score score";
}

header {
    grid-area: header;
    height: 10rem;
}

main {
    grid-area: main;
    height: 50em;
    padding: 1em;
    border: black 1px solid;
}

.center-circle {
    position: relative;
    top: 20em;
    margin: auto auto;
    width: 10em;
    height: 10em;
    border: 1px solid white;
    border-radius: 100%;
    color: white;
    text-align: center;
}

.center-circle:hover {
    cursor: pointer;
}

.quarter-circle-1 {
    position: absolute;
    width: 20em;
    height: 20em;
    top: 50%;
    left: 0%;
    border: 5px solid rgba(117, 117, 117, 0.473);
    border-radius: 100%;
    transform: translateX(-100%) translateY(-25%) rotate(90deg);
    animation: spin-back-1 4s ease-in-out forwards;
    transform-origin: calc(100% + 5em) 50%;
    background-image: url('./assets/images/diamond.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.quarter-circle-2 {
    position: absolute;
    width: 20em;
    height: 20em;
    top: 50%;
    left: 0%;
    border: 5px solid rgba(117, 117, 117, 0.473);
    border-radius: 100%;
    transform: translateX(-100%) translateY(-25%) rotate(90deg);
    animation: spin-back-2 3s ease-in-out forwards;
    transform-origin: calc(100% + 5em) 50%;
    background-image: url('./assets/images/rings.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.quarter-circle-3 {
    position: absolute;
    width: 20em;
    height: 20em;
    top: 50%;
    left: 0%;
    border: 5px solid rgba(117, 117, 117, 0.473);
    border-radius: 100%;
    transform: translateX(-100%) translateY(25%) rotate(90deg);
    animation: spin-back-3 2s ease-in-out forwards;
    transform-origin: calc(100% + 5em) 50%;
    background-image: url('./assets/images/blue.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.quarter-circle-4 {
    position: absolute;
    width: 20em;
    height: 20em;
    top: 50%;
    left: 0%;
    border: 5px solid rgba(117, 117, 117, 0.473);
    border-radius: 100%;
    transform: translateX(-100%) translateY(-25%) rotate(90deg);
    animation: spin-back-4 5s ease-in-out forwards;
    transform-origin: calc(100% + 5em) 50%;
    background-image: url('./assets/images/exoplanet.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

@keyframes spin-back-1 {
    0% {
        transform: translateX(-100%) translateY(-50%) rotate(0deg);
    }
    100% {
        transform: translateX(-100%) translateY(-50%) rotate(270deg);
    }
}
@keyframes spin-back-2 {
    0% {
        transform: translateX(-100%) translateY(-50%) rotate(0deg);
    }
    100% {
        transform: translateX(-100%) translateY(-50%) rotate(180deg);
    }
}
@keyframes spin-back-3 {
    0% {
        transform: translateX(-100%) translateY(-50%) rotate(0deg);
    }
    100% {
        transform: translateX(-100%) translateY(-50%) rotate(90deg);
    }
}
@keyframes spin-back-4 {
    0% {
        transform: translateX(-100%) translateY(-50%) rotate(0deg);
    }
    100% {
        transform: translateX(-100%) translateY(-50%) rotate(360deg);
    }
}

.score {
    grid-area: score;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-areas: 
                        " current current current current "
                        " . winTracker lossTracker . ";
    
}

.current {
    grid-area: current;
}

.winTracker {
    grid-area: winTracker;
}

.lossTracker {
    grid-area: lossTracker;
}

h1 {
    text-align: center;
    font-size: 5em;
    font-stretch: 3em;
    font-family: 'Oswald', sans-serif;
    color: white; 
}

h2 {
    text-align: center;
    font-size: 2em;
}

.targetNumber {
    color: rgb(248, 33, 33);
}

#points-store {
    margin-top: 10rem;
    text-align: center;
    font-size: 3em;
    color: white;
}

#win-tracker, #loss-tracker {
    font-size: 2em; 
    color: white;
    text-align: center;
}